*{
    padding: 0;
    margin: 0;
}

:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9)
}

.board{
    width: 100vw;
    height: 100vh;
    display:grid;
    justify-content:center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    gap: 0;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
}


/*Removing the borders from the cells  */

.cell:first-child,
.cell:nth-of-type(2),
.cell:nth-of-type(3){
    border-top: none;
}

.cell:first-child,
.cell:nth-of-type(4),
.cell:nth-of-type(7){
    border-left: none
}

.cell:nth-of-type(3),
.cell:nth-of-type(6),
.cell:nth-of-type(9){
    border-right:none
}

.cell:nth-of-type(7),
.cell:nth-of-type(8),
.cell:nth-of-type(9){
    border-bottom:none
}

h1{
    text-align:center;
    font-size:30px;
}