*{
    padding: 0;
    margin: 0;
}

:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9)
}

.board{
    width: 100vw;
    height: 100vh;
    display:grid;
    justify-content:center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    gap: 0;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
}